html, body {
		margin: 0;
		padding: 0;
	}

	body {
		background: #fdf8f2;
	}

	.navbar-default {
		background: rgba(248, 216, 156, 0.3);
		border: 0;
		color: #fff7e6;
	}

	.navbar-default .navbar-nav li a {
		color: #fff7e6;
	}

	.navbar-nav li:hover {
		background: #fff7e6;
	}

	.navbar-brand {
		opacity: 1;
	}

	.navbar-brand img {
		opacity: 1;
		filter: invert(100%);
		margin-top: -10px;
	}

	.navbar-brand img:hover {
		filter: invert(0%);
	}

	.navbar-default .navbar-brand:hover {
		background: #fff7e6;
	}

	.navbar-header .navbar-toggle {
		border: 0;
	}

	.navbar-header .navbar-toggle:hover {
		background: #fff7e6;
	}

	.navbar-header .icon-bar {
		border: 1px solid #fff7e6;
	}

	.navbar-header .icon-bar:hover {
		border: 1px solid #;
	}

	.jumbotron {
		background: url("http://eoimages.gsfc.nasa.gov/images/imagerecords/84000/84737/iss041e074232_lrg.jpg") center center no-repeat;

		background-size: cover;
		height: 670px;
		margin-top: -70px;
	}

	.jumbotron h1 {
		text-align: right;
		color: #f8d89c;
		padding: 60px 40px 0 0;


	}

	.jumbotron h2 {
		text-align: right;
		color: #fff7e6;
		padding: 20px 80px;
}

	.jumbotron h1, h2 {
		text-shadow: 2px -3px rgba(0,0,0,0.3);
		opacity: 0.95;
	}

	.footer {
		margin-top: -20px;
		size: 60px;
	}
