<h2>
  I'm a recent graduate from the <a href="https://wyncode.co">Wyncode Academy</a>, with a
  background in social work. I'm confident in my skills in Ruby on Rails,
  JavaScript (ES5, ES6, ES7, ES8*), node.js, React/Redux, and HTML/CSS. Currently, I'm learning C++, C#, and Python while
  building my portfolio.
</h2>

<span class="glyphicon glyphicon-menu-left"></span>
