<h2>
  I'm a recent graduate from the <a href="https://wyncode.co">Wyncode Academy</a>, with a
  background in social work. I'm confident in my skills in Ruby on Rails,
  JavaScript, and HTML/CSS. Currently, I'm learning C++, React.js and Python while
  building my portfolio.
</h2>

<span class="glyphicon glyphicon-menu-left"></span>
