<body>
    <ul class="main contact">
      <li>
        <%= link_to (image_tag "github.png"), "https://github.com/nickeduncan", class: "github" %>
      </li>
      <li>
        <%= link_to (image_tag "linkedin.png"), "https://linkedin.com/in/nickeduncan", class: "linkedin" %>
      </li>
      <li>
        <%= link_to (image_tag "facebook.jpg"), "https://www.facebook.com/nick.duncan.106902", class: "facebook" %>
      </li>
    </div>
</body>
