<section class="gallery-item">
  <div class="card">
    <figure>
      <%= link_to (image_tag "movein.png"), "https://moveinwyncode.herokuapp.com" %>
      <p><b>MoveIn:</b> Aparments.com meets Match.com</p>
      <p>Read more</p>
    </figure>

    <figure>

    </figure>
  </div>
</section>

<section class="gallery-item">
  <div class="card">
    <figure>
      <%= link_to (image_tag "receivables.png"), "https://receivables-insight.herokuapp.com" %>
      <p><b>Receivables Insight:</b> A property management software</p>
      <p>Read more</p>
    </figure>

    <figure>

    </figure>
  </div>
</section>

<span class="glyphicon glyphicon-menu-right"></span>
