<section class="gallery-item">
  <div class="card">
    <figure>
      <h1><b>MoveIn:</b></h1>
      <%= link_to (image_tag "movein.png"), "https://moveinwyncode.herokuapp.com" %>
      <p>Aparments.com meets Match.com</p>
      <p>Read more</p>
    </figure>

    <figure class="back">
      <p>
        MoveIn is an apartment and roommate searching website that calculates a
        user's compatibility with a potential roommate.
      </p>

      <p>
        MoveIn was built using Ruby on Rails, JavaScript, and HTML/CSS. The app
        also implements the Google Maps API for its search feature and Facebook
        Login API.
      </p>

      <p>
        MoveIn currently only supports Miami results for production, but we're
        working on that!
      </p>
    </figure>
  </div>
</section>

<section class="gallery-item">
  <div class="card">
    <figure>
      <h1><b>Receivables Insight:</b></h1>
      <%= link_to (image_tag "receivables.png"), "https://receivables-insight.herokuapp.com" %>
      <p> A property management software</p>
      <p class="read-more">Read more</p>
    </figure>

    <figure class="back">
      <p>
        Receivables Insight is a property management web app that allows
        individuals and companies to monitor their tenants' status, share data
        with coworkers, and automatically generate legal documents.
      </p>

      <p>
        Receivables Insight was built using Ruby on Rails, JavaScript, and HTML/CSS.
      </p>
    </figure>
  </div>
</section>

<section class="gallery-item">
  <div class="card">
    <figure>
      <h1><b>Building Escape:</b></h1>
      <%= link_to (image_tag "buildingescape.png"), "https://www.dropbox.com/sh/ym8klmew0fjsv2s/AAARTCnr_YKmOUncSUH2DtVHa?dl=0" %>
      <p>A 3D escape the room game</p>
      <p class="read-more">Read more</p>
    </figure>

    <figure class="back">
      <p>
        Building Escape is a small "escape the room game" with full player controls,
        3D graphics, and physics controller. Right click to grab objects.
      <p>
        Building Escape was built using C++ and the Unreal Engine.
      </p>
    </figure>
  </div>
</section>

<section class="gallery-item">
  <div class="card">
    <figure>
        <h1><b>Virtual Resume:</b></h1>
      <%= link_to (image_tag "virtualresume.png"), "https://www.dropbox.com/sh/tyvdv58da4g6c9s/AAB3AItXHrWtFt-kLgSyB_5Za?dl=0" %>
      <p>Please take a look at my Virtual Resume! </p>
      <p class="read-more">Read more</p>
    </figure>

    <figure class="back">
      <p>
        A 3D, interactive Virtual Resume I built that showcases were I'm from,
        what I've learned, and where I'm headed. Just a quick insight to who I
        am and how I think.
      <p>
        My Virtual Resume was built using C++ and the Unreal Engine.
      </p>
    </figure>
  </div>
</section>

<span class="glyphicon glyphicon-menu-right"></span>
