<%= link_to (image_tag "movein.png"), "https://moveinwyncode.herokuapp.com" %>
<%= link_to (image_tag "receivables.png"), "https://receivables-insight.herokuapp.com" %>
<span class="glyphicon glyphicon-menu-right"></span>
