<section class="gallery-item">
  <div class="card">
    <figure>
      <%= link_to (image_tag "movein.png"), "https://moveinwyncode.herokuapp.com" %>
      <p><b>MoveIn:</b> Aparments.com meets Match.com</p>
      <p>Read more</p>
    </figure>

    <figure>
      <p>
        MoveIn is a apartment and roommate finding website that includes a
        matching algorithm that calculates a user's compatibility with a potential
        roommate. 
      </p>
    </figure>
  </div>
</section>

<section class="gallery-item">
  <div class="card">
    <figure>
      <%= link_to (image_tag "receivables.png"), "https://receivables-insight.herokuapp.com" %>
      <p><b>Receivables Insight:</b> A property management software</p>
      <p class="read-more">Read more</p>
    </figure>

    <figure>
      <p>
        Receivables Insight is a property management web app that allows
        individuals and companies to monitor their tenants' status, share data
        with coworkers, and automatically generate legal documents.
      </p>
    </figure>
  </div>
</section>

<span class="glyphicon glyphicon-menu-right"></span>
