<div class="main">
  <h1>Nicholas Duncan</h1>
  <h2>A Full-Stack Web Developer</h2>
  <span class="glyphicon glyphicon-menu-left"></span>
  <span class="glyphicon glyphicon-menu-down"></span>
  <span class="glyphicon glyphicon-menu-right"></span>
</div>
