<header>
  <nav>
    <%= image_tag "nd_logo.png", class: "logo" %>
    <span class="glyphicon glyphicon-option-vertical menu_toggle" aria-hidden="true"></span>
    <ul class="menu">
      <li class="menu-gallery">Gallery</li>
      <li class="menu-about">About</li>
      <li class="menu-contact">Contact</li>
    </ul>
  </nav>
</header>
