<header>
  <nav>
    <%= link_to (image_tag "nd_logo.png", class: "logo"), root_path %>
    <button class="menu_toggle">
      <img src="https://openclipart.org/image/2400px/svg_to_png/221605/menu-icon.png" height="25px" width="40px" style="filter:invert(1)">
    </button>
    <ul class="menu">
      <li><%= link_to "Gallery", gallery_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></a></li>
    </ul>
  </nav>
</header>
