<head>
  <style>
  @media (min-width: 426px) {
    ul.menu {
      display: inline-flex;
      height: 0em;
      float: right;
    }
    ul.menu li {
    margin: 1.2em 1.3em 0 0;
    }
    button.menu_toggle {
      display: none;
    }
  }
  </style>
</head>
<body>
	<div class="main about">
    <h1>About Me</h1>
		<h2>
      I'm a recent graduate from the <a href="https://wyncode.co">Wyncode Academy</a>, with a
      background in social work. I'm confident in my skills in Ruby on Rails,
      JavaScript, and HTML/CSS. Currently, I'm learning C++, React.js and Python while
      building my portfolio.
    </h2>
	</div>
	<div class="footer">
		<p>&copy;NickDuncan</p>
	</div>
</body>
