<head>
  <style>
  @media (min-width: 426px) {
    ul.menu {
      display: inline-flex;
      height: 0em;
      float: right;
    }
    ul.menu li {
    margin: 1.2em 1.3em 0 0;
    }
    button.menu_toggle {
      display: none;
    }
  }
  </style>
</head>
<body>
  <div class="main">
    <ul class="contact">
      <li>
        <%= link_to (image_tag "github.png"), "https://github.com/nickeduncan", class: "github" %>
      </li>
      <li>
        <%= link_to (image_tag "linkedin.png"), "https://linkedin.com/in/nickeduncan", class: "linkedin" %>
      </li>
      <li>
        <%= link_to (image_tag "facebook.jpg"), "https://www.facebook.com/nick.duncan.106902", class: "facebook" %>
      </li>
    </div>
  </div>
  <div class="footer">
    <p>&copy;NickDuncan</p>
  </div>
</body>
