<head>
  <style>
  @media (min-width: 426px) {
    ul.menu {
      display: inline-flex;
      height: 0em;
      float: right;
    }
    ul.menu li {
    margin: 1.2em 1.3em 0 0;
    }
    button.menu_toggle {
      display: none;
    }
  }
  </style>
</head>
<body>
  <div class="main">
    <%= link_to "Github", "github.com/nickeduncan", class: "contact" %>
  </div>
  <div class="footer">
    <p>&copy;NickDuncan</p>
  </div>
</body>
