<!DOCTYPE html>
<html>
<head>
  <title>Nicholas Duncan's Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/about.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
  </script>
  <script type="text/javascript" src="../js/script.js"> </script>
  <style>
  @media (min-width: 426px) {
    ul.menu {
      display: inline-flex;
      height: 0em;
      float: right;
    }
    ul.menu li {
    margin: 1.2em 1.3em 0 0;
    }
    button.menu_toggle {
      display: none;
    }
  }
  </style>
</head>
<body>
  <div class="main gallery">
    <%= link_to (image_tag "movein.png"), "https://moveinwyncode.herokuapp.com" %>
    <%= link_to (image_tag "receivables.png"), "https://receivables-insight.herokuapp.com" %>
				<a href="https://receivables-insight.herokuapp.com"
					<img src="../img/receivablesinsight.png" width="350px" height="150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>




				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>




				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


	</div>
	<div class="footer">
		<p>&copy;NickDuncan</p>
	</div>
</body>
</html>
