<body>
  <div class="main gallery">
    <%= link_to (image_tag "movein.png"), "https://moveinwyncode.herokuapp.com" %>
    <%= link_to (image_tag "receivables.png"), "https://receivables-insight.herokuapp.com" %>


			<!-- <a href="#">
					<img src="http://placehold.it/350x150">
				</a>




				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>




				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>


				<a href="#">
					<img src="http://placehold.it/350x150">
				</a>

 -->
	</div>
	<div class="footer">
		<p>&copy;NickDuncan</p>
	</div>
</body>
