<body>
	<section class="container">
		<div class="cube">
			<figure class="front">
				<div class="main index active">
					<%= render "main" %>
				</div>
			</figure>

			<figure class="right">
				<div class="main about">
					<%= render "about" %>
				</div>
			</figure>

			<figure class="left">
				<div class="main gallery">
					<%= render "gallery" %>
				</div>
			</figure>

			<figure class="bottom">
				<ul class="main contact">
					<%= render "contact" %>
				</ul>
			</figure>
		</div>
	</section>
</body>
