<body>
	<div class="main index">
		<%= render "main" %>
	</div>

	<div class="main about">
		<%= render "about" %>
	</div>

	<div class="main gallery">
		<%= render "gallery" %>
	</div>

	<div class="main contact">
		<%= render "contact" %>
	</div>
</body>
