<body>
	<div class="main">
		<h1>Nicholas Duncan</h1>
		<h2>A Full-Stack Web Developer</h2>
    <span class="glyphicon glyphicon-menu-left menu menu-left"></span>
    <span class="glyphicon glyphicon-menu-down menu menu-left"></span>
    <span class="glyphicon glyphicon-menu-right menu menu-left"></span>

	</div>
	<div class="footer">
		<p>&copy;NickDuncan</p>
	</div>
</body>
