.contact {
  text-align: center;
  padding-top: 4em;
  margin-top: 0em;
  display: none;

  a {
    img {
      border-radius: 7px;
      border: none;
      box-shadow: 2px 2px 1px black;
      margin-top: 2em;
      width: 26em;
      height: 10em;
    }

    &.github {

      img {
        filter: invert(1);
        background-color: #eee;
        box-shadow: 2px 2px 1px white;
      }
    }

    &.linkedin {

      img {
        background-color: #fff;
        padding: 2em;
      }
    }


  }
}
