.gallery {
  text-align: center;
  padding-top: 10em;
  display: none;

  .gallery-item {
    height: 23em;
    width: 28em;
    margin: 3em;
    display: inline-flex;
    perspective: 600px;
    position: relative;

    .card {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 1s;
      transform-style: preserve-3d;
      background-color: #fff;
      box-shadow: 2px 2px 2px 2px #333;

      figure {
        margin: 0;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        backface-visibility: hidden;

        .back {
          transform: rotateY(180deg);
        }

      }
      &.flipped {
        transform: rotateY(180deg);
      }
    }

    img {
      height: 18em;
      width: 28em;
      border: 0.5em solid white;
    }
  }
}
