.gallery {
  text-align: center;
  padding-top: 10em;
  display: none;

  img {
    height: 18em;
    width: 28em;
    margin: 3em;
    border: 5px solid white;
    box-shadow: 2px 2px 2px 2px #333;
  }
}
