* {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	display: flex;
	background-color: #081828;
}

body {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	width: 100%;

}

/* -------- */
/** NAVBAR **/
/* ------- */

header {
	font-size: 0.9em;
	/*background-color: rgba(248, 216, 156, 0.3);*/
	display: flex;
}

nav {
	width: 100%;
	/*box-shadow: 0 1px 10px 1px #fff7e6;*/
	border-bottom: 1px solid white;
}

ul.menu {
	padding: 0px;
	margin: 0;
	display: none;
	height: 8.5em;
	text-align: right;
}

ul.menu li {
	margin: 1.1em 1.3em 0 0;
}

ul.menu li a {
	color: #fff;
	font-size: 1.5em;
}

ul.menu li a:hover {
    text-shadow: #f8d89c 0 0 8px;
}

button {
  border: 0;
  height: 3em;
  width: 3em;
  border-radius: 5px;
  margin: 0.6em 1.3em;
  float: right;
	background-color: #081828;
}

span.icon-bar {
	border: 1px solid white;
	width: 1px;
	height: 1px;
}

.topnav-localicons {
    font-size: 20px !important;
    padding-top: 6px !important;
    padding-bottom: 12px !important;
}

.logo {
			margin: 0em 0.5em;
			height: 4em;
			width: 4em;
			filter: invert(1);
}

/* ------ */
/** MAIN **/
/* ------ */

.main {
	width: 100%;
	background: image-url('florida.png') no-repeat center center;
	background-size: cover;
	height: 42em;
	position: relative;

		h1 {
		margin: 0 1em 0 0;
		text-align: right;
		padding: 1.7em 0 0 0;
		color: #f8d89c;
		line-height: 1.3em;
		font-size: 4em;
		text-shadow: #000 1px 1px 10px;
	}

	h2 {
		float: right;
		margin: 0.5em;
		color: #fff7e6;
		font-size: 2em;
		width: 74%;
		max-width: 450px;
		text-shadow: #000 1px 1px 10px;
	}

}
/*.dot {
  box-shadow: #f8d89c 0 0 5px 5px;
  width: 0.5em;
  height: 0.5em;
  position: relative;
  top: -1.1em;
  left: 69.2em;
  background-color: #000;
  border-radius: 10px;
	transition-property: height, width;
	transition-duration: 10s;
}*/

/* ------ */
/* FOOTER */
/* ------ */

.footer {
	/*width:100%*/
	padding: 1em;
}

.footer p {
	margin-top: 0px;
margin-bottom: 0px;
color: #fff;
}

/* ---- */
/* GAME */
/* ---- */

canvas {
  background: transparent;
  display: block;
  margin: 0 auto;
	z-index: 1000;
	position: absolute;
}

@media (min-width: 426px) {
	ul.menu {
		display: inline-flex;
		height: 0em;
		float: right;
	}
	ul.menu li {
	margin: 1.2em 1.3em 0 0;
	}
	button.menu_toggle {
		display: none;
		top: -640;
	}
}
