* {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	display: flex;
	background-color: #081828;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	width: 100%;
	background-color: #081828;
}

/* -------- */
/** NAVBAR **/
/* ------- */

header {
	font-size: 0.9em;
	/*background-color: rgba(248, 216, 156, 0.3);*/
	display: flex;
}

nav {
	width: 100%;
	/*box-shadow: 0 1px 10px 1px #fff7e6;*/
	border-bottom: 1px solid white;

	.menu_toggle {
		font-size: 3em;
		float: right;
		filter: invert(1);
		margin: 0.1em;
	}
}

ul.menu {
	padding: 0px;
	margin: 0;
	display: none;
	height: 23em;
	text-align: right;

	li {
		margin: 1.1em 1.3em 0 0;
		color: #fff;
		font-size: 2.5em;

		&:hover {
		  text-shadow: #f8d89c 0 0 8px;
		}
	}
}

button {
  border: 0;
  height: 3em;
  width: 3em;
  border-radius: 5px;
  margin: 0.6em 1.3em;
  float: right;
	background-color: #081828;
}

span.icon-bar {
	border: 1px solid white;
	width: 1px;
	height: 1px;
}

.topnav-localicons {
    font-size: 20px !important;
    padding-top: 6px !important;
    padding-bottom: 12px !important;
}

.logo {
			margin: -0.3em 0.5em;
			height: 5em;
			width: 5em;
			filter: invert(1);
}

/* ------ */
/** MAIN **/
/* ------ */
.container {
	width: 100%;
	perspective: 1000px;
	margin: 0;
	padding: 0;

	.cube {
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: transform 1.5s;

		figure {
			margin: 0;

			.main {
				width: 100%;
				background: image-url('florida.png') no-repeat center center;
				background-size: cover;
				display: none;

				.glyphicon {
					color: white;
					font-size: 4em;
				}

				.glyphicon-menu-left {
					content: "\e257";
					position: absolute;
					left: 0.7em;
					top: 6em;
				}

				.glyphicon-menu-down {
					content: "\e259";
					position: absolute;
					top: 10em;
					left: 11em;
				}

				.glyphicon-menu-right{
					content: "\e258";
					position: absolute;
					left: 21em;
					top: 6em;
				}
			}

			.index {
				height: 58em;

				h1 {
					margin: 0 2em 0 0;
					text-align: right;
					padding: 1.7em 0 0 0;
					color: #f8d89c;
					line-height: 1.3em;
					font-size: 5em;
					text-shadow: #000 1px 1px 10px;
				}

				h2 {
					float: right;
					margin: 0.5em 6.5em;
					color: #fff7e6;
					font-size: 2em;
					width: 74%;
					max-width: 450px;
					text-shadow: #000 1px 1px 10px;
				}
			}

			.active {
				display: block;
			}
		}

		.front {
			transform: rotateY(0deg);
		}

		.right {
			transform: rotateY(90deg);
		}

		.left {
			transform: rotateY(-90deg);
		}

		.bottom {
			transform: rotateX(-90deg);
		}

		&.show-front {
			transform: rotateY(0deg);
		}

		&.show-right {
			transform: rotateY(-90deg);
		}

		&.show-left {
			transform: rotateY(90deg);
		}

		&.show-bottom {
			transform: rotateX(90deg);
		}
	}

}

/*.dot {
  box-shadow: #f8d89c 0 0 5px 5px;
  width: 0.5em;
  height: 0.5em;
  position: relative;
  top: -1.1em;
  left: 69.2em;
  background-color: #000;
  border-radius: 10px;
	transition-property: height, width;
	transition-duration: 10s;
}*/

/* ------ */
/* FOOTER */
/* ------ */

.footer {
	padding: 1em;
}

.footer p {
	margin-top: 0px;
margin-bottom: 0px;
color: #fff;
}
